.App {
  padding: 2rem;
}
.author {
  font-weight: bold;
}
.title {
  text-decoration: underline;
}
li:empty {
  display: none;
}
.filtered-list:has(li:empty) {
  display: none;
}
button {
  padding: 7px;
  margin: 4px;
  background-color: transparent;
  border: 1px solid rgb(9, 35, 118);
  color: rgb(9, 35, 118);
  border-radius: 7px;
}
button:hover {
  background-color:rgb(9, 35, 118);
  color: #fff;
  border-color: #fff;
}
.filtered-list {
  padding: 7px;
  margin: 4px;
  border: 1px solid rgb(212, 232, 245);
  background-color: rgb(212, 232, 245);
  border-radius: 7px;
}